<div
  class="px-4 py-2 flex items-center justify-between select-none"
  [ngClass]="selectableClassList"
  (click)="!isHeader ? onSelect(player!) : null"
  @playerEnterAnim
>
  <div class="flex items-center gap-x-2">
    <img
      src="{{ player!.playerImg.replace('30.png', '90.png') }}"
      class="object-cover md:h-12 md:w-12 w-10 h-10"
      onerror="this.src='https://cdn.sofifa.net/players/266/360/22_120.png'"
    />
    <span
      class="md:text-base text-sm text-left line-clamp-2 overflow-ellipsis"
      >{{ player!.playerName }}</span
    >
  </div>
</div>
