<div
  class="px-4 py-2 flex items-center justify-between"
  [ngClass]="selectableClassList"
  (click)="isHeader ? null : onSelect(team)"
>
  <div class="flex items-center gap-x-2">
    <img
      src="{{ team!.teamImg.replace('30.png', '90.png') }}"
      class="object-cover md:h-8 md:w-8 w-6 h-6"
      onerror="this.src='https://cdn.sofifa.net/teams/notfound_120.png'"
    />
    <span class="md:text-base text-sm text-left line-clamp-2 text-ellipsis">{{
      team!.teamName
    }}</span>
  </div>

  <span class="text-slate-500 md:text-base text-sm ml-2">{{ season }}</span>
</div>
