.background {
  background-image: url("/assets/boot.png");
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position-x: calc(50% - 5rem);
  background-position-y: -10rem;
  background-attachment: fixed;
}
