<div class="flex justify-between items-center w-full">
  <app-player-card
    [player]="startPlayer"
    *ngIf="startPlayer; else loading"
  ></app-player-card>
  <app-player-card
    [player]="endPlayer"
    *ngIf="endPlayer; else loading"
  ></app-player-card>
</div>

<ng-template #loading>
  <div
    class="w-full md:w-2/3 mt-12 md:mt-24 flex flex-col gap-y-4 items-center justify-center"
  >
    <div class="flex text-center justify-center items-center text-emerald-400">
      <div class="dot">
        <div>·</div>
      </div>
      <div class="dot">
        <div>·</div>
      </div>
      <div class="dot">
        <div>·</div>
      </div>
    </div>
    <span class="text-center animate-pulse text-sm font-bold"
      >Choose which headline is REAL</span
    >
  </div>
</ng-template>
