<div class="flex flex-col items-center">
  <div
    #topBar
    class="grid grid-cols-3 justify-between w-full md:w-2/3 mb-4 bg-white fixed md:rounded-md shadow-md"
  >
    <app-player-card
      [player]="startPlayer"
      *ngIf="startPlayer$ | async as startPlayer; else playerLoading"
    ></app-player-card>

    <div
      class="flex flex-col py-4 justify-center items-center"
      *ngIf="startPlayer$ | async as startPlayer; else middleLoading"
    >
      <span class="text-xs md:text-sm uppercase text-rose-600">Steps</span>
      <span class="text-xl md:text-3xl font-bold">{{ steps$ | async }}</span>
      <span class="text-xs md:text-sm uppercase text-rose-600 mt-2">Time</span>
      <span class="text-xl md:text-3xl font-bold">{{
        convertSec(time$ | async)
      }}</span>
    </div>

    <app-player-card
      [player]="endPlayer"
      *ngIf="endPlayer$ | async as endPlayer; else playerLoading"
    ></app-player-card>
  </div>

  <div
    *ngIf="(selectionState$ | async) === 'team'; else playerSelect"
    class="w-full md:w-1/2 text-center mb-6"
    [style.margin-top.px]="topBar.offsetHeight"
  >
    <div *ngIf="playerHistory$ | async as playerHistory">
      <app-player-panel
        [player]="playerHistory[playerHistory.length - 1]"
        [isHeader]="true"
      ></app-player-panel>

      <h4 class="mt-4 mb-2">Select team</h4>
      <app-team-panel
        *ngFor="let team of playerHistory[playerHistory.length - 1]!.history"
        [team]="team"
      ></app-team-panel>
    </div>
  </div>
</div>

<ng-template #playerSelect>
  <div
    class="w-full md:w-1/2 text-center mb-6"
    [style.margin-top.px]="topBar.offsetHeight"
  >
    <div *ngIf="teamHistory$ | async as teamHistory">
      <app-team-panel
        [team]="teamHistory[teamHistory.length - 1]"
        [isHeader]="true"
      ></app-team-panel>
      <h4 class="mt-4 mb-2">Select player</h4>
    </div>
    <app-player-panel
      *ngFor="let player of currentPlayerList$ | async"
      [player]="player"
    ></app-player-panel>
  </div>
</ng-template>

<ng-template #playerLoading>
  <div class="flex flex-col gap-y-4 px-2 py-6 justify-center items-center">
    <div
      class="rounded-full md:w-20 md:h-20 w-14 h-12 bg-slate-200 animate-pulse"
    ></div>
    <div class="rounded-sm md:w-20 h-6 w-14 bg-slate-200 animate pulse"></div>
    <div class="rounded-sm md:w-20 h-6 w-14 bg-slate-200 animate pulse"></div>
  </div>
</ng-template>

<ng-template #middleLoading>
  <div class="flex flex-col gap-y-4 p-2 justify-center items-center">
    <div class="rounded-sm md:w-20 h-6 w-12 bg-slate-200 animate pulse"></div>
    <div class="rounded-sm md:w-20 h-6 w-12 bg-slate-200 animate pulse"></div>
  </div>
</ng-template>
