<div
  class="flex flex-col items-center overflow-x-hidden"
  (window:scroll)="onScroll($event)"
>
  <div
    #topBar
    class="flex items-center justify-center w-full mb-4 bg-purple-200 fixed z-10"
  >
    <div class="grid grid-cols-3 justify-between w-full md:w-2/3">
      <app-player-card
        [player]="startPlayer"
        *ngIf="startPlayer$ | async as startPlayer; else playerLoading"
      ></app-player-card>

      <div
        class="flex flex-col justify-start mx-2"
        *ngIf="startPlayer$ | async as startPlayer; else middleLoading"
      >
        <div class="flex pt-4 pb-3 justify-evenly items-start text-center">
          <div class="flex flex-col justify-center">
            <span
              class="text-xs font-bold md:text-sm uppercase text-fuchsia-700"
              >Steps</span
            >
            <span class="text-xl md:text-3xl font-bold">{{
              steps$ | async
            }}</span>
          </div>

          <div class="flex flex-col justify-center">
            <span
              class="text-xs md:text-sm font-bold uppercase text-fuchsia-700"
              >Time</span
            >
            <span class="text-xl md:text-3xl font-bold">{{
              convertSec(time$ | async)
            }}</span>
          </div>
        </div>
        <div class="flex flex-wrap gap-1 items-center justify-center">
          <img
            *ngFor="let team of teamPath$ | async"
            src="{{ team!.teamImg.replace('30.png', '90.png') }}"
            class="object-cover md:h-8 md:w-8 w-6 h-6"
            onerror="this.src='https://cdn.sofifa.net/teams/notfound_120.png'"
          />
        </div>
      </div>

      <app-player-card
        [player]="endPlayer"
        *ngIf="endPlayer$ | async as endPlayer; else playerLoading"
      ></app-player-card>
    </div>
  </div>

  <div
    [ngSwitch]="selectionState$ | async"
    class="w-full md:w-1/2 text-center mb-6"
  >
    <div
      *ngSwitchCase="'team'"
      [style.margin-top.px]="topBar.offsetHeight"
      @teamListAnim
    >
      <div *ngIf="playerHistory$ | async as playerHistory">
        <div *ngIf="playerHistory.length > 0">
          <app-player-panel
            [player]="playerHistory[playerHistory.length - 1]"
            [isHeader]="true"
          ></app-player-panel>

          <h4 class="mt-4 mb-2 text-fuchsia-700">Select team</h4>
          <app-team-panel
            *ngFor="
              let team of playerHistory[playerHistory.length - 1]!.history
            "
            [team]="team"
          ></app-team-panel>
        </div>
      </div>
    </div>

    <div
      *ngSwitchCase="'player'"
      [style.margin-top.px]="topBar.offsetHeight"
      @playerListAnim
    >
      <div *ngIf="teamHistory$ | async as teamHistory">
        <app-team-panel
          [team]="teamHistory[teamHistory.length - 1]"
          [isHeader]="true"
        ></app-team-panel>
        <h4 class="mt-4 mb-2 text-fuchsia-700">Select player</h4>
      </div>

      <app-player-panel
        *ngFor="let player of currentPlayerList$ | async"
        [player]="player"
      ></app-player-panel>
    </div>

    <div *ngSwitchCase="'loading'" [style.margin-top.px]="topBar.offsetHeight">
      <div class="flex flex-col gap-y-4 px-4">
        <div
          class="rounded-sm h-8 w-full mt-4 bg-slate-200 animate-pulse"
        ></div>
        <h4 class="mt-4 mb-2 text-fuchsia-700">Select player</h4>
        <div
          *ngFor="let panel of [].constructor(10)"
          class="rounded-sm h-8 w-full bg-slate-200 animate-pulse"
        ></div>
      </div>
    </div>
  </div>
</div>

<button
  class="small-fab transition-transform duration-300"
  *ngIf="scrollDirection === 'up' || topBar.clientWidth > 768"
  @fabAnim
  [@.disabled]="topBar.clientWidth > 768"
  [style.top.px]="
    topBar.clientWidth > 768 ? topBar.offsetHeight + 32 + 16 : undefined
  "
  [style.bottom.rem]="topBar.clientWidth > 768 ? undefined : 2 + 4 + 1"
  routerLink="/"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="28px"
    viewBox="0 0 24 24"
    width="28px"
  >
    <path d="M0 0h24v24H0V0z" fill="none" />
    <path
      d="M12 5.69l5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3z"
    />
  </svg>
</button>
<button
  *ngIf="scrollDirection === 'up' || topBar.clientWidth > 768"
  @fabAnim
  [@.disabled]="topBar.clientWidth > 768"
  class="large-fab"
  [style.top.px]="
    topBar.clientWidth > 768 ? topBar.offsetHeight - 32 : undefined
  "
  [style.bottom.rem]="topBar.clientWidth > 768 ? undefined : 2"
  (click)="reset()"
>
  ↻
</button>

<ng-template #playerLoading>
  <div class="flex flex-col gap-y-2 px-2 py-4 justify-center items-center">
    <div
      class="rounded-full md:w-20 md:h-20 w-14 h-12 bg-slate-400/30 animate-pulse"
    ></div>
    <div
      class="rounded-sm md:w-20 h-6 w-14 bg-slate-400/30 animate-pulse"
    ></div>
    <div
      class="rounded-sm md:w-20 h-6 w-14 bg-slate-400/30 animate-pulse"
    ></div>
  </div>
</ng-template>

<ng-template #middleLoading>
  <div class="flex flex-col gap-y-6 pt-6 justify-start items-center">
    <div
      class="rounded-sm md:w-20 h-6 w-1/2 bg-slate-400/30 animate-pulse"
    ></div>
    <div
      class="rounded-sm md:w-20 h-6 w-1/2 bg-slate-400/30 animate-pulse"
    ></div>
  </div>
</ng-template>
