<header class="p-4 pb-12 w-full text-center flex items-center justify-center">
  <h1 class="text-9xl text-fuchsia-700">6</h1>
  <div
    class="flex flex-col justify-around bg-fuchsia-700 text-white rounded-r-lg px-2"
  >
    <h1 class="text-5xl">degrees</h1>
    <h1 class="text-5xl">football</h1>
  </div>
</header>

<main
  class="w-full flex flex-col items-center justify-center px-4 pb-16 overflow-x-hidden"
>
  <div class="md:w-1/3 w-full">
    <h3 class="text-center mb-4">
      What is the least number of players connecting
    </h3>

    <app-name-carousel></app-name-carousel>
  </div>
  <button class="mt-12 primary md:w-1/3 w-full" routerLink="/game">
    Start Game
  </button>
</main>
