@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-stone-800 h-full bg-stone-100;
  font-family: "Archivo", sans-serif;
}

h1 {
  @apply text-6xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

h4 {
  @apply uppercase text-sm text-slate-500 font-bold;
}

a {
  @apply text-fuchsia-700 cursor-pointer hover:underline hover:text-fuchsia-500;
}

button.primary {
  @apply px-4 py-2 rounded-lg bg-fuchsia-600 text-white font-bold hover:ring-4 hover:ring-fuchsia-300 transition-all duration-300 active:bg-fuchsia-700 disabled:bg-stone-500 disabled:cursor-not-allowed disabled:ring-0;
}

button.secondary {
  @apply px-4 py-2 rounded-lg text-fuchsia-600 font-bold bg-fuchsia-200 hover:bg-fuchsia-300 transition-all duration-300 active:bg-fuchsia-400 hover:ring-4 hover:ring-fuchsia-300 disabled:bg-stone-500;
}

button.fab {
  @apply fixed md:right-48 right-8 bottom-8 h-16 w-16 bg-emerald-500 text-white text-center text-2xl font-bold  active:bg-emerald-600;
  border-radius: 12px;
  transition: all 120ms ease-out;
}

button.fab:hover {
  border-radius: 999px;
  filter: drop-shadow(0px 0.35rem 0.5rem rgba(0, 0, 0, 0.35));
  transition: all 180ms ease-in;
}
