<div class="p-4 w-full md:w-1/2 mx-auto">
  <h2><strong>Terms and Conditions</strong></h2>

  <p>Welcome to 44f2!</p>

  <p>
    These terms and conditions outline the rules and regulations for the use of
    44f2's Website, located at https://44f2.notmydayjob.fyi.
  </p>

  <p>
    By accessing this website we assume you accept these terms and conditions.
    Do not continue to use 44f2 if you do not agree to take all of the terms and
    conditions stated on this page.
  </p>

  <p>
    The following terminology applies to these Terms and Conditions, Privacy
    Statement and Disclaimer Notice and all Agreements: "Client", "You" and
    "Your" refers to you, the person log on this website and compliant to the
    Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and
    "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the
    Client and ourselves. All terms refer to the offer, acceptance and
    consideration of payment necessary to undertake the process of our
    assistance to the Client in the most appropriate manner for the express
    purpose of meeting the Client’s needs in respect of provision of the
    Company’s stated services, in accordance with and subject to, prevailing
    law. Any use of the above terminology or other words in the singular,
    plural, capitalization and/or he/she or they, are taken as interchangeable
    and therefore as referring to same.
  </p>

  <h3><strong>License</strong></h3>

  <p>
    Unless otherwise stated, 44f2 and/or its licensors own the intellectual
    property rights for all material on 44f2. All intellectual property rights
    are reserved. You may access this from What The Fake for your own personal
    use subjected to restrictions set in these terms and conditions.
  </p>

  <p>
    44f2 uses data from
    <a href="https://sofifa.com" target="_blank" referrerpolicy="no-referrer"
      >SoFIFA</a
    >
    and
    <a href="https://ea.com/fifa" target="_blank" referrerpolicy="no-referrer"
      >EASports</a
    >. All data belongs to their respective owners.
  </p>

  <p>You must not:</p>
  <ul>
    <li>Republish material from 44f2</li>
    <li>Sell, rent or sub-license material from 44f2</li>
    <li>Reproduce, duplicate or copy material from 44f2</li>
    <li>Redistribute content from 44f2</li>
  </ul>

  <h3><strong>Linking to the website</strong></h3>

  <p>
    No use of 44f2's logo or other artwork will be allowed for linking absent a
    trademark license agreement.
  </p>

  <h3><strong>iFrames</strong></h3>

  <p>
    Without prior approval and written permission, you may not create frames
    around our Webpages that alter in any way the visual presentation or
    appearance of our Website.
  </p>

  <h3><strong>Content Liability</strong></h3>

  <p>
    We shall not be hold responsible for any content that appears on your
    Website. You agree to protect and defend us against all claims that is
    rising on your Website. No link(s) should appear on any Website that may be
    interpreted as libelous, obscene or criminal, or which infringes, otherwise
    violates, or advocates the infringement or other violation of, any third
    party rights.
  </p>

  <h3><strong>Reservation of Rights</strong></h3>

  <p>
    We reserve the right to request that you remove all links or any particular
    link to our Website. You approve to immediately remove all links to our
    Website upon request. We also reserve the right to amen these terms and
    conditions and it’s linking policy at any time. By continuously linking to
    our Website, you agree to be bound to and follow these linking terms and
    conditions.
  </p>

  <h3><strong>Removal of links from our website</strong></h3>

  <p>
    If you find any link on our Website that is offensive for any reason, you
    are free to contact and inform us any moment. We will consider requests to
    remove links but we are not obligated to or so or to respond to you
    directly.
  </p>

  <p>
    We do not ensure that the information on this website is correct, we do not
    warrant its completeness or accuracy; nor do we promise to ensure that the
    website remains available or that the material on the website is kept up to
    date.
  </p>

  <h3><strong>Disclaimer</strong></h3>

  <p>
    To the maximum extent permitted by applicable law, we exclude all
    representations, warranties and conditions relating to our website and the
    use of this website. Nothing in this disclaimer will:
  </p>

  <ul>
    <li>
      limit or exclude our or your liability for death or personal injury;
    </li>
    <li>
      limit or exclude our or your liability for fraud or fraudulent
      misrepresentation;
    </li>
    <li>
      limit any of our or your liabilities in any way that is not permitted
      under applicable law; or
    </li>
    <li>
      exclude any of our or your liabilities that may not be excluded under
      applicable law.
    </li>
  </ul>

  <p>
    The limitations and prohibitions of liability set in this Section and
    elsewhere in this disclaimer: (a) are subject to the preceding paragraph;
    and (b) govern all liabilities arising under the disclaimer, including
    liabilities arising in contract, in tort and for breach of statutory duty.
  </p>

  <p>
    As long as the website and the information and services on the website are
    provided free of charge, we will not be liable for any loss or damage of any
    nature.
  </p>

  <h2>Privacy policy</h2>

  <p>
    At 44f2, accessible from https://44f2.notmydayjob.fyi, one of our main
    priorities is the privacy of our visitors. This Privacy Policy document
    contains types of information that is collected and recorded by What the
    Fake and how we use it.
  </p>

  <h3>Consent</h3>

  <p>
    By using our website, you hereby consent to our Privacy Policy and agree to
    its terms.
  </p>

  <h3>How we use your information</h3>

  <p>We use the information we collect in various ways, including to:</p>

  <ul>
    <li>Provide, operate, and maintain our website</li>
    <li>Improve, personalize, and expand our website</li>
    <li>Understand and analyze how you use our website</li>
    <li>Develop new products, services, features, and functionality</li>
    <li>Find and prevent fraud</li>
  </ul>

  <h3>Log Files</h3>

  <p>
    44f2 follows a standard procedure of using log files. These files log
    visitors when they visit websites. All hosting companies do this and a part
    of hosting services' analytics. The information collected by log files
    include internet protocol (IP) addresses, browser type, Internet Service
    Provider (ISP), date and time stamp, referring/exit pages, and possibly the
    number of clicks. These are not linked to any information that is personally
    identifiable. The purpose of the information is for analyzing trends,
    administering the site, tracking users' movement on the website, and
    gathering demographic information.
  </p>

  <h3>Third Party Privacy Policies</h3>

  <p>
    44f2's Privacy Policy does not apply to other advertisers or websites. 44f2
    uses Google Firestore as a database for game management and Google App Check
    to ensure authorized access. You may consult their privacy policies
    <a
      href="https://firebase.google.com/support/privacy"
      rel="noreferrer"
      target="_blank"
      >here</a
    >
  </p>

  <p>
    You can choose to disable cookies through your individual browser options.
    To know more detailed information about cookie management with specific web
    browsers, it can be found at the browsers' respective websites.
  </p>

  <h3>CCPA Privacy Rights (Do Not Sell My Personal Information)</h3>

  <p>
    Under the CCPA, among other rights, California consumers have the right to:
  </p>
  <p>
    Request that a business that collects a consumer's personal data disclose
    the categories and specific pieces of personal data that a business has
    collected about consumers.
  </p>
  <p>
    Request that a business delete any personal data about the consumer that a
    business has collected.
  </p>
  <p>
    Request that a business that sells a consumer's personal data, not sell the
    consumer's personal data.
  </p>
  <p>
    If you make a request, we have one month to respond to you. If you would
    like to exercise any of these rights, please contact us.
  </p>

  <h3>GDPR Data Protection Rights</h3>

  <p>
    We would like to make sure you are fully aware of all of your data
    protection rights. Every user is entitled to the following:
  </p>
  <p>
    The right to access – You have the right to request copies of your personal
    data. We may charge you a small fee for this service.
  </p>
  <p>
    The right to rectification – You have the right to request that we correct
    any information you believe is inaccurate. You also have the right to
    request that we complete the information you believe is incomplete.
  </p>
  <p>
    The right to erasure – You have the right to request that we erase your
    personal data, under certain conditions.
  </p>
  <p>
    The right to restrict processing – You have the right to request that we
    restrict the processing of your personal data, under certain conditions.
  </p>
  <p>
    The right to object to processing – You have the right to object to our
    processing of your personal data, under certain conditions.
  </p>
  <p>
    The right to data portability – You have the right to request that we
    transfer the data that we have collected to another organization, or
    directly to you, under certain conditions.
  </p>
  <p>
    If you make a request, we have one month to respond to you. If you would
    like to exercise any of these rights, please contact us.
  </p>

  <h3>Children's Information</h3>

  <p>
    Another part of our priority is adding protection for children while using
    the internet. We encourage parents and guardians to observe, participate in,
    and/or monitor and guide their online activity.
  </p>

  <p>
    44f2 does not knowingly collect any Personal Identifiable Information from
    children under the age of 13. If you think that your child provided this
    kind of information on our website, we strongly encourage you to contact us
    immediately and we will do our best efforts to promptly remove such
    information from our records.
  </p>

  <button routerLink="/" class="secondary my-16 w-full flex justify-center p-4">
    Back
  </button>
</div>
